<app-navbar></app-navbar>


<div class="bgpic">
    <div class="container">
        <br/>
        <br/>
       
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 container justify-content-center">
                <h3 class="text-center login-title text-white font-weight-bold">REGISTER FOR INTERNET BANKING</h3>
                <div class="account-wall">
                  
                    
                    <img class="profile-img" src="https://th.bing.com/th/id/OIP.EV9O0-9C_d7CP4fzopwl-AHaHa?pid=Api&rs=1" alt="User Icon">

                    <form [formGroup]="netbankingForm" (ngSubmit)="onSubmit(netbankingForm)" class="form-signin" *ngIf="!requestSent">
                      
                        <div class="form-group">
                            <label for="accountnumber" class="font-weight-bold">
                                Account Number : </label>
                            <input type="text" class="form-control" placeholder="Account Number" formControlName="accountnumber" />

                            <div *ngIf="f.accountnumber.touched && f.accountnumber.invalid" class="alert alert-danger">
                                <div *ngIf="f.accountnumber.errors.required">Account number is required.</div>
                                <div *ngIf="f.accountnumber.errors.minlength">Account number should be of 14 digits</div>
                                <div *ngIf="f.accountnumber.errors.maxlength">Account number should be of 14 digits</div>
                            </div>
                        </div>
                        &nbsp; &nbsp;   
                <button class="btn btn-success" routerLink="/"> Back</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-primary" type="submit" [disabled]="!netbankingForm.valid">Submit</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
                       

                        <button class="btn btn-danger" type="reset"> Cancel</button>
                    </form>
                    <form [formGroup]="otpForm" (ngSubmit)="onSubmit2(otpForm)" class="form-signin" *ngIf="requestSent && !showPassword">
                        <div class="form-group">
                            <label for="otp" class="font-weight-bold">
                                Enter OTP : </label>
                            <input type="text" class="form-control" placeholder="Enter OTP"  formControlName="otp" #otp >

                            <div *ngIf="f2.otp.touched && f2.otp.invalid" class="alert alert-danger">
                                <div *ngIf="f2.otp.errors.required">OTP is required.</div>
                                <div *ngIf="f2.otp.errors.minlength">OTP should be of 4 digits.</div>
                                <div *ngIf="f2.otp.errors.maxlength">OTP should be of 4 digits.</div>
                                <div *ngIf="f2.otp.errors.pattern">Enter only numbers.</div>
                            </div>                           
                            
                        </div>                      

                        &nbsp; &nbsp;   
                <button class="btn btn-success" routerLink="/"> Back</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-primary" type="submit" [disabled]="!otpForm.valid">Submit</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
                       

                        <button class="btn btn-danger" type="reset"> Cancel</button>
                    </form>
                    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit3(passwordForm)" class="form-signin" *ngIf="showPassword">
                        <div class="form-group">
                            <label for="loginpwd" class="font-weight-bold">
                               Set Login Password : </label>
                            <input type="password" class="form-control" placeholder="Set Login Password" formControlName="loginpwd" />

                            <div *ngIf="f3.loginpwd.touched && f3.loginpwd.invalid" class="alert alert-danger">
                                <div *ngIf="f3.loginpwd.errors.required">Login password is required.</div>
                                <div *ngIf="f3.loginpwd.errors.pattern">Password should be of minimum 8 characters and must contain at least 1 alphabet, 1 numeric and 1 special character</div>
                            </div>


                        </div>

                        <div class="form-group">
                            <label for="confirmloginpwd" class="font-weight-bold">
                               Confirm Login Password : </label>
                            <input type="password" class="form-control" placeholder="Confirm Login Password" formControlName="confirmloginpwd" />
                            <div *ngIf="f3.confirmloginpwd.touched && f3.confirmloginpwd.invalid" class="alert alert-danger">
                                <div *ngIf="f3.confirmloginpwd.errors.required">Transaction password is required.</div>
                                <div *ngIf="f3.confirmloginpwd.errors.confirmedValidator">Password is not matching.</div>
                                
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="transactionpwd" class="font-weight-bold">
                               Set Transaction Password : </label>
                            <input type="password" class="form-control" placeholder="Set Transaction Password" formControlName="transactionpwd" id="transactionpwd"/>

                            <div *ngIf="f3.transactionpwd.touched && f3.transactionpwd.invalid" class="alert alert-danger">
                                <div *ngIf="f3.transactionpwd.errors.required">Transaction password is required.</div>
                                <div *ngIf="f3.transactionpwd.errors.pattern">Password should be of minimum 8 characters and must contain at least 1 alphabet, 1 numeric and 1 special character</div>
                            </div>


                        </div>

                        <div class="form-group">
                            <label for="confirmtransactionpwd" class="font-weight-bold">
                               Confirm Transaction Password : </label>
                            <input type="password" class="form-control" placeholder="Confirm Transaction Password" formControlName="confirmtransactionpwd" id="confirmtransactionpwd" />

                            <div *ngIf="f3.confirmtransactionpwd.touched && f3.confirmtransactionpwd.invalid" class="alert alert-danger">
                                <div *ngIf="f3.confirmtransactionpwd.errors.required">Confirm .</div>
                                <div *ngIf="f3.confirmtransactionpwd.errors.conf">hohl .</div>
                               
                                
                            </div>
                        </div> 
                        &nbsp; &nbsp;   
                <button class="btn btn-success" routerLink="/"> Back</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-primary" type="submit" [disabled]="!passwordForm.valid">Submit</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
                       

                        <button class="btn btn-danger" type="reset"> Cancel</button>
                    </form>
                        

                </div>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
            </div>
            <br/>
            <br/>
        </div>
    </div>
</div>

