<app-navbar></app-navbar>



<div class="bgpic">
    <div class="container">
        <br/>
        <br/>
       
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 container justify-content-center">
                <h3 class="text-center login-title text-white font-weight-bold">OPEN A SAVINGS ACCOUNT</h3>
                <div class="account-wall">
                  
                    
                    <!-- <img class="profile-img" src="assets/images/user1.png" alt="User Icon"> -->
                    <img class="profile-img" src="https://image.flaticon.com/icons/png/512/72/72648.png" alt="User Icon">

                    <form [formGroup]="openaccountForm" (ngSubmit)="onSubmit(openaccountForm)" class="form-signin">
                      
                        <div class="form-group">
                            <label for="title" class="font-weight-bold">Title</label><br/>
                               
                            <input list="titles" name="title" id="title" formControlName="title" placeholder="Select a title" />
                            <datalist id="titles">
                                <option value="Ms">Ms</option>
                                <option value="Mr">Mr</option>
                                <option value="Mrs">Mrs</option>
                            </datalist>
                            <div *ngIf="f.title.touched && f.title.invalid" class="alert alert-danger">
                                <div *ngIf="f.title.errors.required">Title is required.</div>
                            </div>                                    
                        </div>

                       
                        <div class="form-group">
                            <label for="firstname" class="font-weight-bold">First Name</label>
                               
                                    <input type="text" class="form-control" id="firstname" formControlName="firstname"  placeholder="First Name" />  
                                    <div *ngIf="f.firstname.touched && f.firstname.invalid" class="alert alert-danger">
                                        <div *ngIf="f.firstname.errors.required">Firstname is required.</div>
                                        <div *ngIf="f.firstname.errors.pattern">Only letters are allowed.</div>
                                    </div>
                        </div>

                        <div class="form-group">
                            <label for="middlename" class="font-weight-bold">Middle Name</label>
                               
                                    <input type="text" class="form-control" id="middlename" formControlName="middlename" placeholder="Middle Name" />  
                                   
                        </div>

                        <div class="form-group">
                            <label for="lastname" class="font-weight-bold">Last Name</label>
                               
                                    <input type="text" class="form-control" id="lastname" formControlName="lastname"  placeholder="Last Name" />  
                                    <div *ngIf="f.lastname.touched && f.lastname.invalid" class="alert alert-danger">
                                        <div *ngIf="f.lastname.errors.required">Lastname is required.</div>
                                        <div *ngIf="f.lastname.errors.pattern">Only letters are allowed.</div>
                                    </div>
                        </div>

                        <div class="form-group">
                            <label for="gender" class="font-weight-bold">Gender</label>
                               
                                    <input type="gender" class="form-control" id="gender" formControlName="gender"  placeholder="Gender" />  
                            
                        </div>


                        <div class="form-group">
                            <label for="fathername" class="font-weight-bold">Father's Name</label>
                               
                                    <input type="text" class="form-control" id="fathername" formControlName="fathername"  placeholder="Father's Name" />  
                                    <div *ngIf="f.fathername.touched && f.fathername.invalid" class="alert alert-danger">
                                        <div *ngIf="f.fathername.errors.required">Father's name is required.</div>
                                        <div *ngIf="f.fathername.errors.pattern">Only letters are allowed.</div>
                                    </div>
                        </div>

                        <div class="form-group">
                            <label for="mobilenumber" class="font-weight-bold">Mobile Number</label>
                               
                                    <input type="text" class="form-control" id="mobilenumber" formControlName="mobilenumber"  placeholder="Mobile number" />  
                                    <div *ngIf="f.mobilenumber.touched && f.mobilenumber.invalid" class="alert alert-danger">
                                        <div *ngIf="f.mobilenumber.errors.required">Mobile number is required.</div>
                                        <div *ngIf="f.mobilenumber.errors.pattern">Mobile number is not valid.</div>
                                    </div>
                        </div>

                        <div class="form-group">
                            <label for="email" class="font-weight-bold">Email ID</label>
                               
                                    <input type="email" class="form-control" id="email" formControlName="email"  placeholder="Email" />  
                            
                        </div>

                        <div class="form-group">
                            <label for="aadharnumber" class="font-weight-bold">Aadhar Card Number</label>
                               
                                    <input type="text" class="form-control" id="aadharnumber" formControlName="aadharnumber"  placeholder="Aadhar number" />  
                                    <div *ngIf="f.aadharnumber.touched && f.aadharnumber.invalid" class="alert alert-danger">
                                        <div *ngIf="f.aadharnumber.errors.required">Aadhar card number is required.</div>
                                        <div *ngIf="f.aadharnumber.errors.pattern">Aadhar card number is not valid.</div>
                                    </div>
                        </div>

                        <div class="form-group">
                            <label for="dob" class="font-weight-bold">Date of birth</label>
                               
                                    <input type="date" class="form-control" id="dob" formControlName="dob"  placeholder="Date of Birth" />  
                                    <div *ngIf="f.dob.touched && f.dob.invalid" class="alert alert-danger">
                                        <div *ngIf="f.dob.errors.required">Date of Birth is required.</div>
                                    </div>
                        </div>

                        <br/>
                    <hr/>

                       <h4>Residential Address</h4><br/>
                       <div class="form-group">
                        <label for="addrline1" class="font-weight-bold">Address Line 1</label>
                           
                                <input type="text" class="form-control" id="addrline1" formControlName="addrline1"  placeholder="Address Line 1" />  
                                <div *ngIf="f.addrline1.touched && f.addrline1.invalid" class="alert alert-danger">
                                    <div *ngIf="f.addrline1.errors.required">Address is required.</div>
                                </div>
                    </div>
                    <div class="form-group">
                        <label for="addrline2" class="font-weight-bold">Address Line 2</label>
                           
                                <input type="text" class="form-control" id="addrline2" formControlName="addrline2"  placeholder="Address Line 2" />  
                                <div *ngIf="f.addrline2.touched && f.addrline2.invalid" class="alert alert-danger">
                                    <div *ngIf="f.addrline2.errors.required">Address is required.</div>
                                </div>
                    </div>

                    <div class="form-group">
                        <label for="landmark" class="font-weight-bold">Landmark</label>
                           
                                <input type="text" class="form-control" id="landmark" formControlName="landmark"  placeholder="Landmark" />  
                                <div *ngIf="f.landmark.touched && f.landmark.invalid" class="alert alert-danger">
                                    <div *ngIf="f.landmark.errors.required">Landmark is required.</div>
                                </div>
                    </div>

                    <div class="form-group">
                        <label for="state" class="font-weight-bold">State</label>
                           
                                <input type="text" class="form-control" id="state" formControlName="state"  placeholder="State" />  
                                <div *ngIf="f.state.touched && f.state.invalid" class="alert alert-danger">
                                    <div *ngIf="f.state.errors.required">State is required.</div>
                                </div>
                    </div>

                    <div class="form-group">
                        <label for="city" class="font-weight-bold">City</label>
                           
                                <input type="text" class="form-control" id="city" formControlName="city"  placeholder="City" />  
                                <div *ngIf="f.city.touched && f.city.invalid" class="alert alert-danger">
                                    <div *ngIf="f.city.errors.required">City is required.</div>
                                </div>
                    </div>

                    <div class="form-group">
                        <label for="pincode" class="font-weight-bold">Pincode</label>
                           
                                <input type="text" class="form-control" id="pincode" formControlName="pincode"  placeholder="Pincode" />  
                                <div *ngIf="f.pincode.touched && f.pincode.invalid" class="alert alert-danger">
                                    <div *ngIf="f.pincode.errors.required">Pincode is required.</div>
                                    <div *ngIf="f.pincode.errors.minlength">Pincode should be of 6 digits.</div>
                                    <div *ngIf="f.pincode.errors.maxlength">Pincode should be of 6 digits.</div>
                                    <div *ngIf="f.pincode.errors.pattern">Only numbers are allowed.</div>
                                    
                                </div>
                    </div>

                    <br/>
                    <hr/>

                       <h4>Permanent Address</h4>
                       <br/>
                       <div class="form-group">
                        <label for="checkbox" class="font-weight-bold"><input type="checkbox" id="peraddress" name="peraddress"  (click)="checkAddress(openaccountForm)">Permanent Address same as Mailing Address</label>
                           
                    </div>
                    <div class="form-group">
                        <label for="peraddrline1" class="font-weight-bold">Address Line 1</label>
                           
                                <input type="text" class="form-control" id="peraddrline1" formControlName="peraddrline1"  placeholder="Address Line 1" />  
                                <div *ngIf="f.peraddrline1.touched && f.peraddrline1.invalid" class="alert alert-danger">
                                    <div *ngIf="f.peraddrline1.errors.required">Address is required.</div>
                                </div>
                    </div>
                    <div class="form-group">
                        <label for="peraddrline2" class="font-weight-bold">Address Line 2</label>
                           
                                <input type="text" class="form-control" id="peraddrline2" formControlName="peraddrline2"  placeholder="Address Line 2" />  
                                <div *ngIf="f.peraddrline2.touched && f.peraddrline2.invalid" class="alert alert-danger">
                                    <div *ngIf="f.peraddrline2.errors.required">Address is required.</div>
                                </div>
                    </div>

                    <div class="form-group">
                        <label for="perlandmark" class="font-weight-bold">Landmark</label>
                           
                                <input type="text" class="form-control" id="perlandmark" formControlName="perlandmark"  placeholder="Landmark" />  
                                <div *ngIf="f.perlandmark.touched && f.perlandmark.invalid" class="alert alert-danger">
                                    <div *ngIf="f.perlandmark.errors.required">Landmark is required.</div>
                                </div>
                    </div>

                    <div class="form-group">
                        <label for="perstate" class="font-weight-bold">State</label>
                           
                                <input type="text" class="form-control" id="perstate" formControlName="perstate"  placeholder="State" />  
                                <div *ngIf="f.perstate.touched && f.perstate.invalid" class="alert alert-danger">
                                    <div *ngIf="f.perstate.errors.required">State is required.</div>
                                </div>
                    </div>

                    <div class="form-group">
                        <label for="percity" class="font-weight-bold">City</label>
                           
                                <input type="text" class="form-control" id="percity" formControlName="percity"  placeholder="City" />  
                                <div *ngIf="f.percity.touched && f.percity.invalid" class="alert alert-danger">
                                    <div *ngIf="f.percity.errors.required">City is required.</div>
                                </div>
                    </div>

                    <div class="form-group">
                        <label for="perpincode" class="font-weight-bold">Pincode</label>
                           
                                <input type="text" class="form-control" id="perpincode" formControlName="perpincode"  placeholder="Pincode" />  
                                <div *ngIf="f.perpincode.touched && f.perpincode.invalid" class="alert alert-danger">
                                    <div *ngIf="f.perpincode.errors.required">Pincode is required.</div>
                                    <div *ngIf="f.perpincode.errors.minlength">Pincode should be of 6 digits.</div>
                                    <div *ngIf="f.perpincode.errors.maxlength">Pincode should be of 6 digits.</div>
                                    <div *ngIf="f.perpincode.errors.pattern">Only numbers are allowed.</div>
                                    
                                </div>
                    </div>
                  <br/>
                  <hr/>
                  <h4>Occupation Details </h4>
                  <br/>
                  <div class="form-group">
                    <label for="occupationtype" class="font-weight-bold">Occupation Type</label>
                       
                            <input type="text" class="form-control" id="occupationtype" formControlName="occupationtype"  placeholder="Occupation Type" />  
                            <div *ngIf="f.occupationtype.touched && f.occupationtype.invalid" class="alert alert-danger">
                                <div *ngIf="f.occupationtype.errors.required">Occupation type is required.</div>
                            </div>
                </div>

                <div class="form-group">
                    <label for="sourceofincome" class="font-weight-bold">Source Of Income</label>
                       
                            <input type="text" class="form-control" id="sourceofincome" formControlName="sourceofincome"  placeholder="Source of income" />  
                            <div *ngIf="f.sourceofincome.touched && f.sourceofincome.invalid" class="alert alert-danger">
                                <div *ngIf="f.sourceofincome.errors.required">Source of income is required.</div>
                            </div>
                </div>

                <div class="form-group">
                    <label for="annualincome" class="font-weight-bold">Gross Annual Income</label>
                       
                            <input type="text" class="form-control" id="annualincome" formControlName="annualincome"  placeholder="Gross Annual Income" />  
                            <div *ngIf="f.annualincome.touched && f.annualincome.invalid" class="alert alert-danger">
                                <div *ngIf="f.annualincome.errors.required">Source of income is required.</div>
                                <div *ngIf="f.annualincome.errors.pattern">Only numbers are allowed.</div>

                            </div>
                </div>
                <br/>

                <hr/>
                <h4>Debit/ATM Card</h4>

                <br/>

                <div class="form-group">
                    <label for="debitCard" class="font-weight-bold"><input type="checkbox" id="debitCard" name="debitCard"  formControlName="debitCard" value="yes"> Do you want a debit card ?</label>
                       
                </div>

                <div class="form-group">
                    <label for="netbanking" class="font-weight-bold"><input type="checkbox" id="netbanking" name="netbanking"  value="yes"> Opt for Net Banking</label>
                       
                </div>
                <br/>
                <hr/>
                <div class="form-group">
                    <label class="font-weight-bold "><input type="checkbox" id="agree" required> I agree to have read all the <a href="#">terms and conditions</a> properly and to entering all the information correctly</label>
                       
                </div>
                
                     
                 &nbsp; &nbsp;   
                <button class="btn btn-success" routerLink="/homepage"> Back</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-primary" type="submit" >Submit</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
                       

                        <button class="btn btn-danger" type="reset"> Cancel</button>
                        
                       
                    </form>
                </div>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
            </div>
            <br/>
            <br/>
        </div>
    </div>
</div>


