<br/><br/>
<div  >
    <h3 align="center">Set New Password</h3>
    <br/>
    <form [formGroup]="setpasswordForm" (ngSubmit)="onSubmit()">
    <div class="form-group" >
        
    Login Password:
    <input type="password" class="form-control" formControlName="loginpwd" id="loginpwd" >

    
    <div *ngIf="submitted && setpasswordForm.controls.loginpwd.errors" class="error">
        <div class="text-danger" *ngIf="setpasswordForm.controls.loginpwd.errors.required">Password is required</div>
    </div> 

</div>
<div class="form-group">
  Confirm Login Password
    <input type="password" class="form-control" formControlName="confirmlogin" id="confirmlogin">
    <div *ngIf="submitted && setpasswordForm.controls.confirmlogin.errors" class="error">
        <div class="text-danger" *ngIf="setpasswordForm.controls.confirmlogin.errors.required">Password is required</div>
    </div>

</div>
<div class="form-group">
    Transaction Password
     <input type="password" class="form-control" formControlName="transactionpwd" id="transactionpwd">
     <div *ngIf="submitted && setpasswordForm.controls.transactionpwd.errors" class="error">
        <div class="text-danger" *ngIf="setpasswordForm.controls.transactionpwd.errors.required">Password is required</div>
    </div>
 </div>

 <div class="form-group">
    Confirm Transaction Password
     <input type="password" class="form-control" formControlName="confirmtransaction" id="confirmtransaction">
     <div *ngIf="submitted && setpasswordForm.controls.confirmtransaction.errors" class="error">
        <div class="text-danger" *ngIf="setpasswordForm.controls.confirmtransaction.errors.required">Password is required</div>
    </div>
 </div>
 <br>
 
<div style="text-align: center;">
    <button class="btn btn-primary"> Submit</button>&nbsp; &nbsp;
</div>

<br/><br/>
<div *ngIf="invalidLogin" class="error">
   
    <div class="text-danger">Invalid credentials.</div> 
</div>
</form>
</div>



