
<div class="d-flex" id="wrapper">
    <app-sidebar></app-sidebar>
    <div id="page-content-wrapper" >
        <app-navbar></app-navbar>
       
  
  
        <div class="bg">
            <br/>
            <h4 class="text-center login-title text-white font-weight-bold">USER PROFILE</h4>

            <div class="admin-body" >

                <img class="profile-img" src="http://cdn.onlinewebfonts.com/svg/download_568656.png" alt="User Icon">

               

                <br/>
                <div style="padding-left: 100px; padding-right: 20px;">

                <table style="width: 90%;" >
                    <tr>
                        <th style="width:30%">First Name : </th>
                        <td>{{user.FirstName}}</td>
                    </tr>
                    <tr>
                        <td colspan="2"><hr/></td>
                    </tr>
                    <tr>
                        <th>Last Name : </th>
                        <td>{{user.LastName}}</td>
                    </tr>
                    <tr>
                        <td colspan="2"><hr/></td>
                    </tr>
                    <tr>
                        <th>Father's Name : </th>
                        <td>{{user.FatherName}}</td>
                    </tr>
                    <tr>
                        <td colspan="2"><hr/></td>
                    </tr>
                    <tr>
                        <th>Mobile Number : </th>
                        <td>{{user.Phone}}</td>
                    </tr>
                    <tr>
                        <td colspan="2"><hr/></td>
                    </tr>
                    <!-- <tr>
                        <th>Aadhar Card Number : </th>
                        <td></td>
                    </tr> -->
                    <tr>
                        <td colspan="2"><hr/></td>
                    </tr>
                    <tr>
                        <th>Date Of Birth : </th>
                        <td>{{user.DOB}}</td>
                    </tr>

                   <tr>
                    <td colspan="2"><hr/></td>
                    </tr>
                   <br/>
                   <tr>
                    <th colspan="2"><h4>Residential Address</h4></th>
                   </tr>
                    <tr>
                        <th>Address Line 1 : </th>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2"><hr/></td>
                    </tr>

                    <tr>
                        <th>Address Line 2 : </th>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2"><hr/></td>
                    </tr>
                    <tr>
                        <th>Landmark : </th>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2"><hr/></td>
                    </tr>

                    <tr>
                        <th>State : </th>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2"><hr/></td>
                    </tr>
                    <tr>
                        <th>City : </th>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2"><hr/></td>
                    </tr>
                    <tr>
                        <th>Pincode : </th>
                        <td></td>
                    </tr>


                    <tr>
                        <td colspan="2"><hr/></td>
                    </tr>
                    <br/>
                    <tr>
                        <th colspan="2"><h4>Permanent Address</h4></th>
                       </tr>
                    <tr>
                        <th>Address Line 1 : </th>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2"><hr/></td>
                    </tr>

                    <tr>
                        <th>Address Line 2 : </th>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2"><hr/></td>
                    </tr>
                    <tr>
                        <th>Landmark : </th>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2"><hr/></td>
                    </tr>

                    <tr>
                        <th>State : </th>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2"><hr/></td>
                    </tr>
                    <tr>
                        <th>City : </th>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2"><hr/></td>
                    </tr>
                    <tr>
                        <th>Pincode : </th>
                        <td></td>
                    </tr>

                    <tr>
                        <td colspan="2"><hr/></td>
                    </tr>
                    <br/>
                    <tr>
                        <th colspan="2"><h4>Occupation Details</h4></th>
                       </tr>
                    <tr>
                        <th>Occupation Type : </th>
                        <td>{{user.OccupationType}}</td>
                    </tr>
                    <tr>
                        <td colspan="2"><hr/></td>
                    </tr>

                    <tr>
                        <th>Source Of Income : </th>
                        <td>{{user.SourceOfIncome}}</td>
                    </tr>
                    <tr>
                        <td colspan="2"><hr/></td>
                    </tr>
                    <tr>
                        <th>Gross Annual Income : </th>
                        <td>{{user.AnnualIncome}}</td>
                    </tr>
                    <tr>
                        <td colspan="2"><hr/></td>
                    </tr>

                  

                </table>
                </div>
      
        </div>  
        </div>
    </div>
  </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
 
  
