
<div class="d-flex" id="wrapper">
    <div  id="sidebar-wrapper" style="background-color: rgb(158, 180, 190);">
        <div class="sidebar-heading" style="color: black;" align="center">Dashboard</div>
        <div class="list-group list-group-flush" >
            <ul class ="list-group-item list-group-item-action" style="background-color: rgb(158, 180, 190);">
              <li><a class ="list-group-item list-group-item-action" style="background-color: rgb(93, 93, 109);color: white;">Account Details</a></li>
                <li><a class ="list-group-item list-group-item-action" style="background-color: rgb(93, 93, 109);color: white;">Account Summary</a></li>
                <li><a class ="list-group-item list-group-item-action" style="background-color: rgb(133, 133, 155);color: white;">Funds Transfer</a></li>
                <li><a class ="list-group-item list-group-item-action bg-light">Account Statement</a></li>
          </ul>
        </div>
    </div>
    <div id="page-content-wrapper" >
        <nav class="navbar navbar-expand-md navbar-dark" style="background-color: rgb(75, 75, 134);">
            <div class="collapse navbar-collapse" id="navbarSupportedContent" >
                <a href="#" class="navbar-brand">Online Banking Application</a>
              
              <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" style="color: white;">Services</a> 
                    <div class="dropdown-menu">
                        <a  href="#" class="dropdown-item">Account Statement</a>
                        <a  href="#" class="dropdown-item">Funds Transfer</a>
                        <a  routerLink="/userprofile" class="dropdown-item">User Profile</a>
                        <a  href="#" class="dropdown-item">Change UserID Password</a>
                    </div>
            </div>
            
            </div>
            <marquee behavior="scroll" direction="right" class="navbar-brand">Welcome User!</marquee>
        </nav>
       
  
  
        <div class="bg">
            <br/>
            <h4 class="text-center login-title text-white font-weight-bold">USER PROFILE</h4>

            <div class="admin-body" >

                <img class="profile-img" src="http://cdn.onlinewebfonts.com/svg/download_568656.png" alt="User Icon">

               

                <br/>
                <div style="padding-left: 100px; padding-right: 20px;">

                <table style="width: 90%;" >
                    <tr>
                        <th style="width:30%">First Name : </th>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2"><hr/></td>
                    </tr>
                    <tr>
                        <th>Last Name : </th>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2"><hr/></td>
                    </tr>
                    <tr>
                        <th>Father's Name : </th>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2"><hr/></td>
                    </tr>
                    <tr>
                        <th>Mobile Number : </th>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2"><hr/></td>
                    </tr>
                    <tr>
                        <th>Aadhar Card Number : </th>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2"><hr/></td>
                    </tr>
                    <tr>
                        <th>Date Of Birth : </th>
                        <td></td>
                    </tr>

                   <tr>
                    <td colspan="2"><hr/></td>
                    </tr>
                   <br/>
                   <tr>
                    <th colspan="2"><h4>Residential Address</h4></th>
                   </tr>
                    <tr>
                        <th>Address Line 1 : </th>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2"><hr/></td>
                    </tr>

                    <tr>
                        <th>Address Line 2 : </th>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2"><hr/></td>
                    </tr>
                    <tr>
                        <th>Landmark : </th>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2"><hr/></td>
                    </tr>

                    <tr>
                        <th>State : </th>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2"><hr/></td>
                    </tr>
                    <tr>
                        <th>City : </th>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2"><hr/></td>
                    </tr>
                    <tr>
                        <th>Pincode : </th>
                        <td></td>
                    </tr>


                    <tr>
                        <td colspan="2"><hr/></td>
                    </tr>
                    <br/>
                    <tr>
                        <th colspan="2"><h4>Permanent Address</h4></th>
                       </tr>
                    <tr>
                        <th>Address Line 1 : </th>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2"><hr/></td>
                    </tr>

                    <tr>
                        <th>Address Line 2 : </th>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2"><hr/></td>
                    </tr>
                    <tr>
                        <th>Landmark : </th>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2"><hr/></td>
                    </tr>

                    <tr>
                        <th>State : </th>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2"><hr/></td>
                    </tr>
                    <tr>
                        <th>City : </th>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2"><hr/></td>
                    </tr>
                    <tr>
                        <th>Pincode : </th>
                        <td></td>
                    </tr>

                    <tr>
                        <td colspan="2"><hr/></td>
                    </tr>
                    <br/>
                    <tr>
                        <th colspan="2"><h4>Occupation Details</h4></th>
                       </tr>
                    <tr>
                        <th>Occupation Type : </th>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2"><hr/></td>
                    </tr>

                    <tr>
                        <th>Source Of Income : </th>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2"><hr/></td>
                    </tr>
                    <tr>
                        <th>Gross Annual Income : </th>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2"><hr/></td>
                    </tr>

                  

                </table>
                </div>
      
        </div>  
        </div>
    </div>
  </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
 
  
