
<div  id="sidebar-wrapper" style="background-color: rgb(158, 180, 190);">
    <div class="sidebar-heading" style="color: black;" align="center">Dashboard</div>
        <div class="list-group list-group-flush" >
            <ul class ="list-group-item list-group-item-action" style="background-color: rgb(158, 180, 190);">
                <li><a routerLink="/userprofile" class ="list-group-item list-group-item-action" style="background-color: rgb(69, 69, 71);color: white;">Account Details</a></li>
                <li><a routerLink="/accountsummary" class ="list-group-item list-group-item-action" style="background-color: rgb(94, 94, 109);color: white;">Account Summary</a></li>
                <li><a routerLink="/fundstransfer"  href="#" class ="list-group-item list-group-item-action" style="background-color: rgb(133, 133, 155);color: white;">Funds Transfer</a></li>
                <li><a routerLink="/accountstatement"class ="list-group-item list-group-item-action bg-light">Account Statement</a></li>
            </ul>
        </div>
</div>
