<div class="d-flex" id="wrapper">
    <app-sidebar></app-sidebar>
    <div id="page-content-wrapper" >
         <app-navbar></app-navbar>
         <div class="bgpic">
            <br/><br/>
            <h4 class="text-left login-title text-white font-weight-bold" style="padding-left: 20px; ">ACCOUNT SUMMARY</h4>
  
  
              <div class="user-body">
                <br/>
                <!-- <button type="submit" class="btn btn-success" style="float: left;">Add new beneficiary</button>&nbsp;&nbsp; -->
               
                  <table class="table table-striped" style="margin-left:auto;margin-right:auto; width:80%; background-color: rgb(218, 201, 201);">
                    <thead>
                          <tr>
                              <th>Account UserID</th>
                              <th>Account Number</th>
                              <th>Account Type</th>
                              <th>Balance</th>
                              
                             
                          </tr>
                   </thead>
                    
                      <tbody>
                          <tr>
                               <td>{{account.UserID}}</td>
                              <td>{{account.AccountNumber }}</td>
                              <td>Savings</td>
                              <td>{{account.Balance}}</td>
              
                          </tr>
                      </tbody> 
  
  
                  </table>
                  <br/><br/>
                  <h5 class=" login-title font-weight-bold" style="margin-left:auto;margin-right:auto; width:40%; color:red">RECENT TRANSACTIONS</h5>
                  <br/>
                  <table class="table table-striped" style="margin-left:auto;margin-right:auto; width:50%; background-color: #dedede;">
                    <thead>
                          <tr>
                              <th>Transaction Date</th>
                              <th> Sending Account</th>
                              <th>Receiver Account</th>
                              <th>Amount</th>
                              <th>Remarks</th>
                              
                             
                          </tr>
                    </thead>
                    
                      <tbody>
                          <tr *ngFor="let tran of trans">
                              <td>{{tran.TransactionDate }}</td>
                              <td>{{tran.SenderAccount }}</td>
                              <td>{{tran.ReceiverAccount}}</td>
                              <td>{{tran.Amount}}</td>
                              <td>{{tran.Remarks}}</td>
                          </tr>
                          <tr *ngIf="!trans || trans.length==0">
                              <th colspan="5">
                                  <p class="text-right text-danger">Sorry no account statements available available</p>
                              </th>
                          </tr>
                      </tbody> 
                    </table>
              </div>
              
             </div>
    </div>
</div> 
