<app-navbar></app-navbar>



<div class="bgpic">
    <div class="container">
        <br/>
        <br/>
       
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 container justify-content-center">
                <h3 class="text-center login-title text-white font-weight-bold">FORGOT USER ID</h3>
                <div class="account-wall">
                  
                    
                    <!-- <img class="profile-img" src="assets/images/user1.png" alt="User Icon"> -->
                    <img class="profile-img" src="https://th.bing.com/th/id/OIP.UKNL75fij1tEbQw1ofhSCAHaHa?pid=Api&rs=1" alt="User Icon">

                    <form [formGroup]="forgotuseridForm" (ngSubmit)="onSubmit(forgotuseridForm)" class="form-signin" *ngIf="!requestSent">
                      
                        <div class="form-group">
                            <label for="accountnumber" class="font-weight-bold">
                                Enter Account Number : </label>
                            <input type="text" class="form-control" placeholder="Account Number" formControlName="accountnumber" />

                            <div *ngIf="f.accountnumber.touched && f.accountnumber.invalid" class="alert alert-danger">
                                <div *ngIf="f.accountnumber.errors.required">Account Number is required.</div>
                                <div *ngIf="f.accountnumber.errors.minlength">Account Number should be of 14 digits.</div>
                                <div *ngIf="f.accountnumber.errors.maxlength">Account Number should be of 14 digits.</div>
                                <div *ngIf="f.accountnumber.errors.pattern">Only numbers are allowed.</div>
                            </div>
                        </div>
                        <button class="btn btn-success" type="submit" [disabled]="!forgotuseridForm.valid">Proceed</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
                        <button class="btn btn-primary" routerLink="/"> Back</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <button class="btn btn-danger" type="reset"> Cancel</button>

                        </form>
                     <form [formGroup]="otpForm" (ngSubmit)="onSubmit2(otpForm)" class="form-signin" *ngIf="requestSent">
                        <div class="form-group">
                            <label for="otp" class="font-weight-bold">
                                Enter OTP : </label>
                            <input type="text" class="form-control" placeholder="Enter OTP"  formControlName="otp" >


                            <div *ngIf="f2.otp.touched && f2.otp.invalid" class="alert alert-danger">
                                <div *ngIf="f2.otp.errors.required">OTP is required.</div>
                                <div *ngIf="f2.otp.errors.minlength">OTP should be of 4 digits.</div>
                                <div *ngIf="f2.otp.errors.maxlength">OTP should be of 4 digits.</div>
                                <div *ngIf="f2.otp.errors.pattern">Enter only numbers.</div>
                            </div>
                        </div>

                        <button class="btn btn-success" type="submit" [disabled]="!otpForm.valid">Proceed</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
                        <button class="btn btn-primary" routerLink="/"> Back</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <button class="btn btn-danger" type="reset"> Cancel</button>
                        
                       
                    </form>
                </div>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
            </div>
            <br/>
            <br/>
        </div>
    </div>
</div>






