<h1 align="center">Dashboard</h1>
<div class="d-flex" id="wrapper">
 
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Dashboard </div>
      <div class="list-group list-group-flush">
          <ul class ="list-group-item list-group-item-action bg-light">
               <li> <a routerLink="/accountdetails" class ="list-group-item list-group-item-action bg-light">Account Details</a></li>
                <li><a routerLink="/accountsummary" class ="list-group-item list-group-item-action bg-light">Account Summary</a></li>
                <li> <a routerLink="/fundstransfer" class ="list-group-item list-group-item-action bg-light">Funds Transfer</a></li>
                <li> <a routerLink="/accountstatement" class ="list-group-item list-group-item-action bg-light">Account Statement</a></li>
        </ul>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper" >
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" >
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li><a routerLink="/accountstatement">Account Statement &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
            <li><a routerLink="/fundstransfer">Funds Transfer &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
            <li><a routerLink="/userprofile">User Profile &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
            <li><a routerLink="/change">Change User ID Password &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
          </ul>
        </div>
      </nav>
      <router-outlet></router-outlet>
   
     
    </div>
    <!-- /#page-content-wrapper -->
  </div>
  

