
<div class="d-flex" id="wrapper">
    <div  id="sidebar-wrapper" style="background-color: rgb(158, 180, 190);">
        <div class="sidebar-heading" style="color: black;" align="center">Dashboard</div>
        <div class="list-group list-group-flush" >
            <ul class ="list-group-item list-group-item-action" style="background-color: rgb(158, 180, 190);">
              <li><a routerLink="/userprofile" class ="list-group-item list-group-item-action" style="background-color: rgb(69, 69, 71);color: white;">Account Details</a></li>
                <li><a class ="list-group-item list-group-item-action" style="background-color: rgb(94, 94, 109);color: white;">Account Summary</a></li>
                <li><a routerLink="/fundstransfer" class ="list-group-item list-group-item-action" style="background-color: rgb(133, 133, 155);color: white;">Funds Transfer</a></li>
                <li><a class ="list-group-item list-group-item-action bg-light">Account Statement</a></li>
          </ul>
        </div>
    </div>
    <div id="page-content-wrapper" >
        <nav class="navbar navbar-expand-md navbar-dark" style="background-color: rgb(75, 75, 134);">
            <div class="collapse navbar-collapse" id="navbarSupportedContent" >
                <a href="#" class="navbar-brand">Online Banking Application</a>
              
              <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" style="color: white;">Services</a> 
                    <div class="dropdown-menu">
                        <a  href="#" class="dropdown-item">Account Statement</a>
                        <a routerLink="/fundstransfer" class="dropdown-item">Funds Transfer</a>
                        <a  routerLink="/userprofile" class="dropdown-item">User Profile</a>
                        <a  href="#" class="dropdown-item">Change UserID Password</a>
                    </div>
            </div>
            
            </div>
            <marquee behavior="scroll" direction="right" class="navbar-brand">Welcome User!</marquee>
        </nav>
       
  
  
        <div class="bg">
            <br/>
            <h4 class="text-center login-title text-white font-weight-bold">ADD NEW BENEFICIARY</h4>

           
           
            <div class="admin-body">
               

                <img class="profile-img" src="http://cdn.onlinewebfonts.com/svg/download_568656.png" alt="User Icon">
        
                            <form [formGroup]="addpayeeForm" class="form-signin">
                              
                                <div class="form-group">
                                    <label for="beneficiaryname" class="font-weight-bold">
                                        Beneficiary Name : </label>
                                    <input type="text" class="form-control" placeholder="Beneficiary Name" formControlName="beneficiaryname" />
        
                                     <div *ngIf="f.beneficiaryname.touched && f.beneficiaryname.invalid" class="alert alert-danger">
                                        <div *ngIf="f.beneficiaryname.errors.required">Beneficiary name is required.</div>
                                        </div> 
                                   
        
        
                                </div>

                                <div class="form-group">
                                    <label for="beneficiarynumber" class="font-weight-bold">
                                        Beneficiary Account Number : </label>
                                    <input type="text" class="form-control" placeholder="Beneficiary Account Number" formControlName="beneficiarynumber" />
        
                                     <div *ngIf="f.beneficiarynumber.touched && f.beneficiarynumber.invalid" class="alert alert-danger">
                                        <div *ngIf="f.beneficiarynumber.errors.required">Beneficiary number is required.</div>
                                        <div *ngIf="f.beneficiarynumber.errors.pattern">Only numbers are allowed.</div>

                                        </div> 
                                   
        
        
                                </div>

                                <div class="form-group">
                                    <label for="rebeneficiarynumber" class="font-weight-bold">
                                        Re-enter Beneficiary Number : </label>
                                    <input type="text" class="form-control" placeholder=" Re-enter Beneficiary Number" formControlName="rebeneficiarynumber" />
                                    <div *ngIf="f.rebeneficiarynumber.touched && f.rebeneficiarynumber.invalid" class="alert alert-danger">
                                        <div *ngIf="f.rebeneficiarynumber.errors.required">Re entering Beneficiary number is required.</div>
                                        <div *ngIf="f.rebeneficiarynumber.errors.confirmedValidator">Beneficiary number is not matching.</div>

                                        </div> 
        
        
                                </div>
                                <div class="form-group">
                                    <label for="savebeneficiarynumber" class="font-weight-bold"><input type="checkbox" id="savebeneficiarynumber" name="savebeneficiarynumber"  formControlName="savebeneficiarynumber">
                                        Save Beneficiary Number : </label>
                                </div>

                                <div class="form-group">
                                    <label for="nickname" class="font-weight-bold">
                                        Nickname : </label>
                                    <input type="text" class="form-control" placeholder="Nickname" >
        
                                   
        
        
                                </div>
                               
                                 &nbsp;&nbsp;
                                
                               
                                <button class="btn btn-primary" type="submit"  [disabled]="!addpayeeForm.valid" >Save as beneficiary</button>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
                               
        
                                <button class="btn btn-danger" type="reset"> Cancel</button><br/><br/>
        
                               
                            </form>
                </div>
 
          
          
        </div>
    </div>
  </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  

