<div class="d-flex" id="wrapper">
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Welcome @AdminName </div>
        <div class="list-group list-group-flush">
            <ul class ="list-group-item list-group-item-action bg-light">
                <li><a class ="list-group-item list-group-item-action bg-light">Menu</a>
                    <ul class ="list-group-item list-group-item-action bg-light">
                        <li><a class ="list-group-item list-group-item-action bg-light">Users</a></li>
                    </ul>
                </li>
                <li><a class ="list-group-item list-group-item-action bg-light">Logout</a></li>
          </ul>
        </div>
    </div>
    <div id="page-content-wrapper" >
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="collapse navbar-collapse" id="navbarSupportedContent" >
              <h3>Requests</h3>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="text" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Filters
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Approved</a>
                  <a class="dropdown-item" href="#">Pending</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
            </div>
        </nav>
        <table border="1px" style="width: 80%;" align="center" >
            <tr>
                <th>Reference Number</th>
                <th>User Id</th>
                <th>Approval Status</th>
                <th>Approval Date</th>
                <th>Action</th>
            </tr>
            <tr height=20px *ngFor="let request of listRequests">
                <td>{{request.ApprovalID}}</td>
                <td>{{request.UserID}}</td>
                <td>{{request.ApprovalStatus}}</td>
                <td>{{request.ApprovalDate}}</td>
                <td>
                    <button class="btn btn-primary">View Details</button>&nbsp;&nbsp;
                    <button class="btn btn-success" (click)="approveRequest(request.ApprovalID,request.UserID)">Approve</button>
                </td>

            </tr>
        </table> 
    </div>
</div>
