<nav class="navbar navbar-expand-md navbar-dark" style="background-color: rgb(75, 75, 134);">
    
    <a href="#" class="navbar-brand">Online Banking Application</a>
    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
        <div class="navbar-nav">
            <a routerLink="/homepage" class="nav-item nav-link">Home</a>
            <a href="#" class="nav-item nav-link">Profile</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle active" data-toggle="dropdown">Services</a> 
                        <div class="dropdown-menu">
                            <a routerLink="/adminlogin" class="dropdown-item">Login as Admin</a>
                            <a routerLink="/userlogin" class="dropdown-item">Login as User</a>
                            <a routerLink="/netbanking" class="dropdown-item">Register for Net Banking</a>
                            <a routerLink="/registeruser" class="dropdown-item">Open new Account</a>
                        </div>
                </div>
              
        </div>
        </div>

        <marquee behavior="scroll" direction="right" class="navbar-brand">Welcome to Online Banking Application!</marquee>
</nav>

