<app-navbar></app-navbar>



<div class="bgpic">
    <div class="container">
        <br/>
        <br/>
       
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 container justify-content-center">
                <h3 class="text-center login-title text-white font-weight-bold">FORGOT USER PASSWORD</h3>
                <div class="account-wall">
                  
                    
                    <!-- <img class="profile-img" src="assets/images/user1.png" alt="User Icon"> -->
                    <img class="profile-img" src="https://th.bing.com/th/id/OIP.UKNL75fij1tEbQw1ofhSCAHaHa?pid=Api&rs=1" alt="User Icon">

                    <form [formGroup]="forgotpasswordForm" (ngSubmit)="onSubmit(forgotpasswordForm)" class="form-signin" *ngIf="!requestSent">
                      
                        <div class="form-group">
                            <label for="userid" class="font-weight-bold">
                                Enter User ID : </label>
                            <input type="text" class="form-control" placeholder="User ID" formControlName="userid" />

                            <div *ngIf="f.userid.touched && f.userid.invalid" class="alert alert-danger">
                                <div *ngIf="f.userid.errors.required">User ID is required.</div>
                                </div>
                        </div>
                        <button class="btn btn-success" type="submit" [disabled]="!forgotpasswordForm.valid">Proceed</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
                        <button class="btn btn-primary" routerLink="/"> Back</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-danger" type="reset"> Cancel</button>
                    </form>
                     <form [formGroup]="otpForm" (ngSubmit)="onSubmit2(otpForm)" class="form-signin" *ngIf="requestSent && !showPassword">
                        <div class="form-group">
                            <label for="otp" class="font-weight-bold">
                                Enter OTP : </label>
                            <input type="text" class="form-control" placeholder="Enter OTP"  formControlName="otp" #otp >


                            <div *ngIf="f2.otp.touched && f2.otp.invalid" class="alert alert-danger">
                                <div *ngIf="f2.otp.errors.required">OTP is required.</div>
                                <div *ngIf="f2.otp.errors.minlength">OTP should be of 4 digits.</div>
                                <div *ngIf="f2.otp.errors.maxlength">OTP should be of 4 digits.</div>
                                <div *ngIf="f2.otp.errors.pattern">Enter only numbers.</div>
                            </div>
                        </div>
                        <button class="btn btn-success" type="submit" [disabled]="!otpForm.valid">Proceed</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
                        <button class="btn btn-primary" routerLink="/"> Back</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-danger" type="reset"> Cancel</button>
                    </form>
                    <form [formGroup]="setPwdForm" (ngSubmit)="onSubmit3(setPwdForm)" class="form-signin" *ngIf="showPassword">
                        <div class="form-group">
                            <label for="loginpwd" class="font-weight-bold">
                               Set Login Password : </label>
                            <input type="password" class="form-control" placeholder="Set Login Password" formControlName="loginpwd" />

                            <div *ngIf="f3.loginpwd.touched && f3.loginpwd.invalid" class="alert alert-danger">
                                <div *ngIf="f3.loginpwd.errors.required">Login password is required.</div>
                                <div *ngIf="f3.loginpwd.errors.pattern">Password should be of minimum 8 characters and must contain at least 1 alphabet, 1 numeric and 1 special character</div>
                            </div>


                        </div>

                        <div class="form-group">
                            <label for="confirmloginpwd" class="font-weight-bold">
                               Confirm Login Password : </label>
                            <input type="password" class="form-control" placeholder="Confirm Login Password" formControlName="confirmloginpwd" />
                            <div *ngIf="f3.confirmloginpwd.touched && f3.confirmloginpwd.invalid" class="alert alert-danger">
                                <div *ngIf="f3.confirmloginpwd.errors.required">Transaction password is required.</div>
                                <div *ngIf="f3.confirmloginpwd.errors.confirmedValidator">Password is not matching.</div>
                                
                            </div>
                        </div>
                        <button class="btn btn-success" type="submit" [disabled]="!setPwdForm.valid">Proceed</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
                        <button class="btn btn-primary" routerLink="/"> Back</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-danger" type="reset"> Cancel</button>
                    </form>
                </div>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
            </div>
            <br/>
            <br/>
        </div>
    </div>
</div>



