<nav class="navbar navbar-expand-md navbar-dark" style="background-color: rgb(75, 75, 134);">
    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
        <a href="#" class="navbar-brand">Online Banking Application</a>
        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" style="color: white;">Services</a> 
            <div class="dropdown-menu">
                <a  routerLink="/netbanking" class="dropdown-item">Register for netbanking</a>
                <a  routerLink="/userprofile" class="dropdown-item">User Profile</a>
                <a routerLink="/forgotuserid" class="dropdown-item">Change UserID</a>
                <a routerLink="/forgotpassword" class="dropdown-item">Change Password</a>
                <a routerLink="/userprofile" class="dropdown-item">Log Out</a>
            </div>
        </div>
    </div>
    <marquee behavior="scroll" direction="right" class="navbar-brand">Welcome User!</marquee>
</nav>

